<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
</head>

<body>
    <div>
        <div class="loadme-circlePoint">
            <div class="loadme-circlePoint1 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint2 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint3 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint4 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint5 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint6 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint7 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint8 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint9 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint10 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint11 loadme-circlePoint-child"></div>
            <div class="loadme-circlePoint12 loadme-circlePoint-child"></div>
        </div>
        <div class="loadme-mask"></div>
    </div>
</body>

</html>
