<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
    <style>
    .loadme-mask {
        display: none
    }
    </style>
</head>

<body>
    <div>
        <div class="loadme-foldingCube">
            <div class="loadme-foldingCube-child1 loadme-foldingCube-child"></div>
            <div class="loadme-foldingCube-child2 loadme-foldingCube-child"></div>
            <div class="loadme-foldingCube-child4 loadme-foldingCube-child"></div>
            <div class="loadme-foldingCube-child3 loadme-foldingCube-child"></div>
        </div>
        <div class="loadme-mask"></div>
    </div>
</body>

</html>
