<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
    <style>
    .loader-mask {
        background-color: #d35400;
    }
    </style>
</head>

<body>
    <div>
        <div class="loadme-fading-circle">
            <div class="loadme-fadingcircle-child1 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child2 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child3 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child4 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child5 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child6 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child7 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child8 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child9 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child10 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child11 loadme-fadingcircle-child"></div>
            <div class="loadme-fadingcircle-child12 loadme-fadingcircle-child"></div>
        </div>
        <div class="loader-mask"></div>
    </div>
</body>

</html>
