<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
</head>

<body>
    <div>
        <div class="loadmeRect">
            <div class="loadmeRectChild loadmeRect1"></div>
            <div class="loadmeRectChild loadmeRect2"></div>
            <div class="loadmeRectChild loadmeRect3"></div>
            <div class="loadmeRectChild loadmeRect4"></div>
            <div class="loadmeRectChild loadmeRect5"></div>
        </div>
        <div class="loadme-mask"></div>
    </div>
</body>

</html>
