<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
    <style>
    .loader-mask {
        background-color: green;
    }
    </style>
</head>

<body>
    <div>
        <div class="rect">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="loader-mask"></div>
    </div>
</body>

</html>
