<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1,minimum-scale=1,maximum-scale=2,user-scalable=no,width=device-width" name=viewport>
    <title>circular</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/style/loadme.css">
    <style>
    .loader-mask {
        background-color: #d35400;
    }
    </style>
</head>

<body>
    <div>
        <div class="circlepoint">
            <div class="circlepoint1 circlepoint-child"></div>
            <div class="circlepoint2 circlepoint-child"></div>
            <div class="circlepoint3 circlepoint-child"></div>
            <div class="circlepoint4 circlepoint-child"></div>
            <div class="circlepoint5 circlepoint-child"></div>
            <div class="circlepoint6 circlepoint-child"></div>
            <div class="circlepoint7 circlepoint-child"></div>
            <div class="circlepoint8 circlepoint-child"></div>
            <div class="circlepoint9 circlepoint-child"></div>
            <div class="circlepoint10 circlepoint-child"></div>
            <div class="circlepoint11 circlepoint-child"></div>
            <div class="circlepoint12 circlepoint-child"></div>
        </div>
        <div class="loader-mask"></div>
    </div>
</body>

</html>
